body{
background-color:#E8E2E2;
text-align: center;

}

h1{
    color:#5D3891;
    font-family: 'Sacramento', cursive;
    font-size: 60px;
}
p{
    color:#4F709C;
    font-size: 20px;
}

h2{
    color:#101113;
    font-size: 15px;
}

h3{
    color: #967E76;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: 20px;
   
}
.three-columns{
    display: flex;
}
.column1{
    color:olive;
    color:olive; 
    position: relative;
    width: 33%; 
    height: 20%;    
}
 .column2{
    color:olive; 
    position: relative;
    width: 33%; 
    height: 20%;   
}

 .column3{
    color:olive;
    position: relative;
    width: 33%;  
    height: 20%;  
}
    
 .next-page{
     background-color: aquamarine;

 }
 .contacts{
     color: rgb(89, 55, 214);
     font-size: 30px;
     font-family:Georgia, 'Times New Roman', Times, serif
 }










   
    